html {
  scroll-behavior: smooth;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --text-color: #d4d4d8;
  --text-color-secondary: #bab8b3;
  --text-color-tertiary: #dfd9cd;
  --brand-color: #7d5ba6;
  --link-color: #ccccd9;
  --link-hover: #55357b;
  --bg-color: #10101f;
  --bg-color-secondary: #121217;
  --bg-color-secondary-scroll: #17171c;
  --bg-color-tertiary: #1f1f2d;
  --ff-secondary: "Poppins", sans-serif;
  --scrollbar-thumb-hover: #0b0b0c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: var(--ff-secondary);
}

body {
  visibility: hidden; 
  opacity: 0; 
  transition: opacity 0.2s ease, background-color 0.2s ease; 
}

body.theme-loaded {
  visibility: visible;
  opacity: 1;
}

.light-mode {
  --text-color: #2c2c2c;
  --text-color-secondary: #4f4d4d;
  --text-color-tertiary: #2c2c2c;
  --brand-color: #5a3ea6;
  --link-color: #3b5998; 
  --link-hover: #3c1e7b;
  --bg-color: #ffffff;
  --bg-color-secondary: #f2f2f2;
  --bg-color-secondary-scroll: #e6e6e6;
  --bg-color-tertiary: #cacaca;
  --scrollbar-thumb-hover: rgb(70, 70, 70);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.error-container {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text-color);
  text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.6);
  padding: 2rem;

  & .construction-image {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 18rem;
    z-index: 2;
    img {
      width: 4rem;
      margin-left: 1rem;
      position: absolute;
    }
  }
}
.error-content {
  background-color: var(--bg-color-tertiary);
  padding: 2.5rem;
  border-radius: 0.625rem;
  text-align: center;
  max-width: 31.25rem;
  width: 100%;
  z-index: 1;
}

.error-code {
  font-size: 6.25rem;
  color: var(--brand-color);
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.error-message {
  font-size: 1.25rem;
  margin-bottom: 1.875rem;
  color: var(--text-color-secondary);
}

.home-link {
  font-size: 1.125rem;
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.3s;
}

.home-link:hover {
  color: var(--link-hover);
}

@media (max-width: 79.8em) {
  .error-code {
    font-size: 4.5rem;
  }

  .error-container .construction-image {
    display: none;
  }

  .error-message {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .home-link {
    font-size: 1rem;
  }

  .construction-image {
    margin-bottom: 10rem;
  }

  .construction-image img {
    width: 3rem;
  }
}
