#top {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;

  & h1 {
    display: inline-block;
    background: linear-gradient(90deg, var(--text-color) 0%, #9b59b6 25%, #8e44ad 50%, #3498db 75%, #1e90ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: changeColor 10s linear infinite;
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  & img {
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1)
    }
  }
}

#back-conversion {
  margin-top: .75rem;
  color: var(--text-color-secondary);
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.15rem;
  position: relative;
  display: inline-block;

  &:hover {
    color: var(--text-color-tertiary);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--text-color-tertiary);
    transition: width 0.3s ease;
    transform: translateX(-50%); 
  }

  &:hover::after {
    width: 100%;
  }
}
