html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --text-color: #d4d4d8;
  --text-color-secondary: #bab8b3;
  --text-color-tertiary: #dfd9cd;
  --brand-color: #7d5ba6;
  --link-color: #ccccd9;
  --link-hover: #55357b;
  --bg-color: #10101f;
  --bg-color-secondary: #121217;
  --bg-color-secondary-scroll: #17171c;
  --bg-color-tertiary: #1f1f2d;
  --ff-secondary: "Poppins", sans-serif;
  --scrollbar-thumb-hover: #0b0b0c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  margin-inline: 8rem;
}

.container-secondary {
  margin-inline: 4rem;
}

ul {
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

.light-mode {
  --text-color: #2c2c2c;
  --text-color-secondary: #4f4d4d;
  --text-color-tertiary: #2c2c2c;
  --brand-color: #5a3ea6;
  --link-color: #3b5998; 
  --link-hover: #3c1e7b;
  --bg-color: #ffffff;
  --bg-color-secondary: #f2f2f2;
  --bg-color-secondary-scroll: #e6e6e6;
  --bg-color-tertiary: #cacaca;
  --scrollbar-thumb-hover: rgb(70, 70, 70);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#light-mode-toggle {
  transition: transform 0.5s ease;
}

#light-mode-toggle.rotate {
  transform: rotate(360deg);
}

.display-none {
  display: none;
}

body {
  visibility: hidden; 
  opacity: 0; 
  transition: opacity 0.2s ease, background-color 0.2s ease; 
}

body.theme-loaded {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 79.8em) {
  html {
    font-size: 85%;
  }
  .container {
    margin-inline: 2rem;
  }
}

:root {
  --link-color-transparent: rgba(158, 172, 202, 0.3);
  --warning: #dc3636;
}

#recent-conversions {
  margin-top: 3rem;

  & h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--ff-secondary);
    font-weight: 600;
  }

  & #clean-history-div {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    align-items: center;

    & img {
      width: 1.5rem;
      margin-right: .75rem;
    }

    & p {
      margin: 0;
      display: inline;
      transition: .3s;
      cursor: pointer;
      &:hover {
        color: var(--warning);
      }
    }
  }

  & #list-conversions {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    margin-bottom: 2rem;

    & h3 {
      font-size: 1.5rem;
    }

    & ul {
      display: flex;
      background-color: var(--bg-color-tertiary);
      width: 80%;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 0 1.5rem;

      .delete-conversion {
        cursor: pointer;
        transition: .3s;
        margin-left: auto;

        & img {
          width: 1.5rem;
        }

        &:hover {
          filter: brightness(.7);
          scale: 1.25;
        }
        
      }

      & li {
        margin-block: 1.5rem;
        line-height: 1.5;
        max-width: 95%;
      }
    }
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    margin-bottom: 5rem; 
  
    & .pagination-button {
      margin: 0 0.3125rem; 
      padding: 0.3125rem 0.625rem; 
      border: 1px solid #ccc;
      border-radius: .25rem;
      background-color: #f9f9f9;
      cursor: pointer;

      &:hover {
        scale: 1.05;
      }
  
      &.active {
        background-color: var(--brand-color);
        color: white;
        border-color: var(--brand-color);
      }
    }
  }
  
  
}

@media (max-width: 79.8em) {
  #recent-conversions {
    & #list-conversions ul {
      width: 100%;
      padding: 1.75rem;

      & .delete-conversion {
        & img {
          width: 1.75rem;
        }
      }

      & li {
        margin: 0;
        max-width: 87.5%;
      }
    }
  }
}

#top {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;

  & h1 {
    display: inline-block;
    background: linear-gradient(90deg, var(--text-color) 0%, #9b59b6 25%, #8e44ad 50%, #3498db 75%, #1e90ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: changeColor 10s linear infinite;
    background-size: 200% 100%;
    background-position: 100% 0;
  }

  & img[alt="Dark Mode"] {
    width: 2rem;
  }

  & img {
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1)
    }
  }
}

#back-conversion {
  margin-top: .75rem;
  color: var(--text-color-secondary);
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.15rem;
  position: relative;
  display: inline-block;

  &:hover {
    color: var(--text-color-tertiary);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--text-color-tertiary);
    transition: width 0.3s ease;
    transform: translateX(-50%); 
  }

  &:hover::after {
    width: 100%;
  }
}
