<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metricus</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/conversion/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/conversion/conversion.css') }}">
</head>
<body> 
  <div class="container">
    <section id="top">
      <h1>Metricus Conversions</h1>
      <img src="{{ url_for('static', filename='assets/main-images/sun.svg') }}" alt="Light mode" id="light-mode-toggle">
    </section>
    <section id="calculator">
      <div id="unit-info">
        <h2></h2>
        <div id="switch">
          <p>Rounded Result</p>
          <div id="switch-image">
            <div id="circle"></div>
          </div>
        </div>
      </div>

      <div id="operation">
        <div class="simple-operations">
          <label for="value">Value</label>
          <input type="number" name="value" id="value" placeholder="10">
        </div>

        <div class="simple-operations">
          <label for="from-unit">From unit</label>
          <input type="text" name="from-unit" id="from-unit" placeholder="{{ datas.get('from_unit_example', '') }}">
        </div>

        <div class="simple-operations">
          <label for="to-unit">To unit</label>
          <input type="text" name="to-unit" id="to-unit" placeholder="{{ datas.get('to_unit_example', '') }}">
        </div>

        <button id="calculate-operation">Calculate</button>

      </div>

      <div id="error-message" style="display: none;">
        <img src="{{ url_for('static', filename='assets/main-images/close-circle.svg') }}" id="close-warning" alt="close button">
        <p id="desktop-error">An error occurred. Please ensure that all required fields are filled out correctly.</p>
        <p id="mobile-error">Please fill out all required fields.</p>
      </div>
      
      <div id="result" class="display-none">
        <p>The result is: <span></span></p>
      </div>


      <div id="back">
        <p>Back</span></p>
      </div>
    </section>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>