<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metricus</title>>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/conversion/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/conversion/conversion.css') }}">
</head>
<body>
  <div class="container">
    <section id="top">
      <h1>Metricus Conversions</h1>
      <img src="{{ url_for('static', filename='assets/main-images/sun.svg') }}" alt="Light mode" id="light-mode-toggle">
    </section>
    <div id="back-home">
      <p>Back to Home</p>
    </div>
    <div id="history">
      <p>History of conversions</p>
    </div>
    <section id="select">
      <h2>Units</h2>
      <p>Which unit do you want to use?</p>
      <div id="simple">
        <ul>
          <li id="acceleration">
            <div>
              <img src="{{ url_for('static', filename='assets/units/acceleration.svg') }}" alt="Acceleration icon">
            </div>
            <p>Acceleration</p>
          </li>
        
          <li id="area">
            <div>
              <img src="{{ url_for('static', filename='assets/units/area.svg') }}" alt="Area icon">
            </div>
            <p>Area</p>
          </li>
        
          <li id="energy">
            <div>
              <img src="{{ url_for('static', filename='assets/units/energy.svg') }}" alt="Energy icon">
            </div>
            <p>Energy</p>
          </li>
        
          <li id="force">
            <div>
              <img src="{{ url_for('static', filename='assets/units/force.svg') }}" alt="Force icon">
            </div>
            <p>Force</p>
          </li>
        
          <li id="length">
            <div>
              <img src="{{ url_for('static', filename='assets/units/length.svg') }}" alt="Length icon">
            </div>
            <p>Length</p>
          </li>
        
          <li id="mass">
            <div>
              <img src="{{ url_for('static', filename='assets/units/mass.svg') }}" alt="Mass icon">
            </div>
            <p>Mass</p>
          </li>
        
          <li id="pressure">
            <div>
              <img src="{{ url_for('static', filename='assets/units/pressure.svg') }}" alt="Pressure icon">
            </div>
            <p>Pressure</p>
          </li>
        
          <li id="speed">
            <div>
              <img src="{{ url_for('static', filename='assets/units/speed.svg') }}" alt="Speed icon">
            </div>
            <p>Speed</p>
          </li>
        
          <li id="temperature">
            <div>
              <img src="{{ url_for('static', filename='assets/units/temperature.svg') }}" alt="Temperature icon">
            </div>
            <p>Temperature</p>
          </li>
        
          <li id="time">
            <div>
              <img src="{{ url_for('static', filename='assets/units/time.svg') }}" alt="Time icon">
            </div>
            <p>Time</p>
          </li>
        
          <li id="volume">
            <div>
              <img src="{{ url_for('static', filename='assets/units/volume.svg') }}" alt="Volume icon">
            </div>
            <p>Volume</p>
          </li>
        </ul>
      </div>
      
      <div id="complex">
        <h3>Complex Conversions</h3>
        <p>Which one do you want to calculate?</p>
        <ul>
          <li id="calculate-density">
            <div>
              <img src="{{ url_for('static', filename='assets/units/density.svg') }}" alt="Calculate density">
            </div>
            <p>Density</p>
          </li>
        
          <li id="calculate-displacement">
            <div>
              <img src="{{ url_for('static', filename='assets/units/displacement.svg') }}" alt="Calculate Displacement">
            </div>
            <p>Displacement</p>
          </li>
        
          <li id="calculate-force">
            <div>
              <img src="{{ url_for('static', filename='assets/units/force.svg') }}" alt="Calculate Force">
            </div>
            <p>Force</p>
          </li>
        
          <li id="calculate-pressure">
            <div>
              <img src="{{ url_for('static', filename='assets/units/pressure.svg') }}" alt="Calculate Pressure">
            </div>
            <p>Pressure</p>
          </li>
        </ul>        
      </div>      
    </section>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>