html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --text-color: #d4d4d8;
  --text-color-secondary: #bab8b3;
  --text-color-tertiary: #dfd9cd;
  --brand-color: #7d5ba6;
  --link-hover: #55357b;
  --bg-color: #10101f;
  --bg-color-secondary: #121217;
  --bg-color-secondary-scroll: #17171c;
  --bg-color-tertiary: #1f1f2d;
  --ff-secondary: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  margin-inline: 8rem;
}

.container-secondary {
  margin-inline: 4rem;
}

ul {
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

@media (max-width: 79.8em) {
  html {
    font-size: 85%;
  }
  .container {
    margin-inline: 12rem;
  }
}
