.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; 
  background-color: var(--bg-color-tertiary); 
  color: var(--text-color); 

  & .logo a {
    text-decoration: none;
    font-family: var(--ff-secondary);
    font-size: 1.8rem; 
    color: var(--brand-color); 
    font-weight: bold;
  }

  & .nav-menu ul {
    display: flex;
    list-style: none;
    align-items: center;

    & img {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      transition: 0.3s;
      
      &:hover {
        transform: scale(1.1)
      }
    }
  }

  & .nav-menu ul li {
    margin: 0 1.5rem; 
  }

  & .nav-menu ul li a {
    text-decoration: none;
    color: var(--link-color); 
    font-size: 1rem; 
    transition: color 0.3s;
  }

  & .nav-menu ul li a:hover {
    color: var(--link-hover); 
  }
}

@media (max-width: 79.8em) {
  .main-header {
    display: flex;
    justify-content: space-around;
    
    & .nav-menu {
      display: block; 
    }

    & .nav-menu ul li {
      display: none; 
    }

    & .nav-menu ul img {
      display: block; 
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
  }
}
