#about {
  margin-top: 8rem;
  display: grid;
  grid-template-areas: 
  "a b"
  "a b"
  ;
  grid-template-rows: auto;
  grid-template-columns: 50%;
  gap: 5rem;
  color: var(--text-color-tertiary);
  
  & #metricus-info {
    border: .25rem solid var(--bg-color-tertiary);
    padding: 2rem;
    border-radius: 12px;
    background: linear-gradient(to bottom right, var(--bg-color-tertiary), var(--bg-color));
    grid-area: a;
    display: flex;
    flex-direction: column;

    & p {
      font-size: 1.25rem;
    }

    & span {
      font-weight: bold;
      color: var(--brand-color);
    }

    & p:nth-of-type(1) {
      font-family: var(--ff-secondary);
      font-size: 2rem;
      font-weight: 500;

      & span {
        background: linear-gradient(90deg, var(--text-color-tertiary), var(--text-color-secondary)); 
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    & p:nth-of-type(2) {
      margin-top: 1.5rem;
      font-size: 1.25em;
      line-height: 1.55;

      & span {
        font-weight: 500;
      }
    }

    & p:nth-of-type(3) {
      margin-top: .75rem;
      font-size: 1.25em;
      line-height: 1.6;

      & span {
        font-weight: 500;
        color: #6792ce;;
      }
    }

    & p:nth-of-type(4),
    & p:nth-of-type(7)  {
      font-family: var(--ff-secondary);
      font-size: 2rem;
      font-weight: 500;
      margin-top: 2.5rem;
      margin-bottom: 1.5rem;
    }

    & p:nth-of-type(5) {
      font-size: 1.25em;
      line-height: 1.55;

      & span {
        font-weight: 500;
      }
    }

    & p:nth-of-type(6), 
    & p:nth-of-type(8) {
      margin-top: .75rem;
      font-size: 1.25em;
      line-height: 1.6;

      & span {
        font-weight: 500;
        color: #6792ce;
      }
    }

  }

  & #creators {
    grid-area: b;
    border: .25rem solid var(--bg-color-tertiary);
    padding: 2rem;
    border-radius: 12px;
    background: linear-gradient(to bottom right, var(--bg-color-tertiary), var(--bg-color));
    & h3 {
      font-family: var(--ff-secondary);
      font-size: 1.75rem;
      font-weight: 600;
      margin-bottom: 2.5rem;
      text-transform: uppercase;
      text-align: center;

      & span {
        background: linear-gradient(to right, var(--text-color-tertiary), var(--text-color-secondary));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    & p {
      font-size: 1.25em;
      line-height: 1.6;
      margin-bottom: 5rem;

      & span {
        font-weight: 500;
        color: #6792ce;

        & a {
          text-decoration: none;
          font: inherit;
          color: inherit;
        }
      }
    }

    & p:nth-of-type(2),
    & p:nth-of-type(3) {
      text-align: center;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    & img {
      display: block;
      margin: 0 auto;
      width: 14rem;
      height: 14em; 
      border-radius: 12px;
      object-fit: cover;
      margin-bottom: 4rem;
      transition: 0.2s;
      cursor: pointer;
      box-shadow: 0 0 10px var(--bg-color-secondary);

      &:hover {
        transform: scale(1.1);
      }
    }    
  }
}

@media (max-width: 79.8em) {
  #about {
    margin: 0;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-top: 6rem;
    grid-template-areas: 
      "a"
      "b";
    grid-template-columns: 1fr; 
    gap: 2rem;

    & #metricus-info {
      grid-area: a;
      margin-bottom: 2rem;
      & p:nth-of-type(1),
      & p:nth-of-type(4), 
      & p:nth-of-type(7) {
        font-size: 1.75rem;
      } 
    }

    & #creators {
      grid-area: b;
      & h3 {
        font-size: 1.5rem;
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --text-color: #d4d4d8;
  --text-color-secondary: #bab8b3;
  --text-color-tertiary: #dfd9cd;
  --brand-color: #7d5ba6;
  --link-color: #ccccd9;
  --link-hover: #55357b;
  --bg-color: #10101f;
  --bg-color-secondary: #121217;
  --bg-color-secondary-scroll: #17171c;
  --bg-color-tertiary: #1f1f2d;
  --ff-secondary: "Poppins", sans-serif;
  --scrollbar-thumb-hover: #0b0b0c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  margin-inline: 8rem;
}

.container-secondary {
  margin-inline: 4rem;
}

ul {
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

@media (max-width: 79.8em) {
  html {
    font-size: 85%;
  }
  .container {
    margin-inline: 12rem;
  }
  .container-secondary {
    margin-inline: 12rem;
  }
}

.light-mode {
  --text-color: #2c2c2c;
  --text-color-secondary: #4f4d4d;
  --text-color-tertiary: #2c2c2c;
  --brand-color: #5a3ea6;
  --link-color: #3b5998; 
  --link-hover: #3c1e7b;
  --bg-color: #ffffff;
  --bg-color-secondary: #f2f2f2;
  --bg-color-secondary-scroll: #e6e6e6;
  --bg-color-tertiary: #cacaca;
  --scrollbar-thumb-hover: rgb(70, 70, 70);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#light-mode-toggle {
  transition: transform 0.5s ease;
}

#light-mode-toggle.rotate {
  transform: rotate(360deg);
}

.display-none {
  display: none;
}

.main-footer {
  background-color: var(--bg-color-tertiary);
  color: var(--text-color);
  padding: 2rem 0;
  font-family: 'Inter', sans-serif;
  margin-top: 5rem;

  & .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2rem;

    & > div {
      margin: 1rem;
      min-width: 18.75rem;
      transition: transform 0.3s ease, 0.3s ease;
      will-change: transform;
    }
  }

  & .footer-links {
    text-align: left;

    h3 {
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--heading-color);
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 1rem;

        a {
          color: var(--link-color);
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: var(--link-hover);
          }
        }
      }
    }
  }

  & .footer-contact {
    text-align: left;

    h3 {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--heading-color);
    }

    p {
      margin: 1rem 0;
      font-size: 1rem;
      line-height: 1.6;

      & a {
        color: var(--text-color);
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: var(--link-hover);
        }
      }
    }

    #social-links {
      display: flex;
      gap: 1.5rem;
      margin-top: 1rem;

      a {
        color: var(--text-color);
        font-size: 2rem;
        transition: background-color 0.3s ease, transform 0.3s ease;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          transform: scale(1.1);
        }
      }
    }
  }

  & .footer-bottom {
    text-align: center;
    flex-direction: column-reverse;
    border-top: 1px solid #34495e;
    padding-top: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
    color: var(--footer-text-color);
  }
}

@media (max-width: 79.8em) {
  .main-footer .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main-footer .footer-bottom {
    flex-direction: column;
  }

  .footer-container > div {
    min-width: 100%;
    margin: 1rem 0;
  }
}

.light-mode .footer-contact #social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; 
  background-color: var(--bg-color-tertiary); 
  color: var(--text-color); 

  & .logo a {
    text-decoration: none;
    font-family: var(--ff-secondary);
    font-size: 1.8rem; 
    color: var(--brand-color); 
    font-weight: bold;
  }

  & .nav-menu ul {
    display: flex;
    list-style: none;
    align-items: center;

    & img {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      transition: 0.3s;
      
      &:hover {
        transform: scale(1.1)
      }
    }
  }

  & .nav-menu ul li {
    margin: 0 1.5rem; 
  }

  & .nav-menu ul li a {
    text-decoration: none;
    color: var(--link-color); 
    font-size: 1rem; 
    transition: color 0.3s;
  }

  & .nav-menu ul li a:hover {
    color: var(--link-hover); 
  }
}

@media (max-width: 79.8em) {
  .main-header {
    display: flex;
    justify-content: space-around;
    
    & .nav-menu {
      display: block; 
    }

    & .nav-menu ul li {
      display: none; 
    }

    & .nav-menu ul img {
      display: block; 
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
  }
}

#home {
  display: grid;
  grid-template-areas: 
    "a a"
    "b c";
  grid-template-rows: auto;
  grid-template-columns: calc(50% - 4rem) calc(50% + 4rem);
  gap: 2rem;
  place-items: center;

  & h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    grid-area: a;
    margin-bottom: 2rem;

    & .animated-text {
      display: inline-block;
      background: linear-gradient(90deg, var(--text-color) 0%, #9b59b6 25%, #8e44ad 50%, #3498db 75%, #1e90ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      animation: changeColor 10s linear infinite;
      background-size: 200% 100%;
      background-position: 100% 0;
    }
  }

  & #infos {
    grid-area: b;

    & p:nth-of-type(1) {
      font-size: 0.75rem;
      color: var(--text-color-secondary);
      font-weight: 500;
    }

    & p:nth-of-type(2) {
      margin-top: 0.5rem;
      font-family: var(--ff-secondary);
      color: var(--text-color);
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.3;
    }

    & p:nth-of-type(3) {
      margin-top: 1.75rem;
      font-family: var(--ff-secondary);
      color: var(--brand-color);
      font-size: 1.75rem;
      font-weight: 500;
    }

    & ul {
      width: 14rem;
      margin-top: 0.75rem;
      padding: 0;
      list-style-type: none;
      max-height: 8rem;
      overflow-y: auto;
      border-radius: 12px;
      padding: 0.5rem;
      box-shadow: 0 0 100px 1px var(--bg-color-secondary);
      background-color: var(--bg-color-secondary);

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--bg-color-tertiary);
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--bg-color-secondary-scroll);
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-thumb-hover);
      }

      & li {
        margin-bottom: 0.25rem;
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }

  & #start {
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h3 span {
      background: linear-gradient(to right, var(--text-color), var(--text-color-secondary));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.5rem;
    }

    & p {
      font-family: var(--ff-secondary);
      margin-top: 1rem;
      font-weight: 500;
      font-size: 2rem;
      max-width: 22rem;
      background: linear-gradient(to right, var(--text-color), var(--brand-color));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 1.25rem;
    }

    & button {
      width: 12rem;
      height: 5rem;
      background: var(--brand-color);
      color: #ffffff;
      font-size: 1rem;
      font-weight: bold;
      border: 2px solid var(--text-color);
      border-radius: 1rem;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
        background-color: var(--link-hover);
        border-color: var(--text-color-secondary);
      }
    }
  }
}

@keyframes changeColor {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@media (max-width: 79.8em) {
  #home {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    margin-right: 2.5rem;

    & #infos {
      text-align: center;
      margin-top: 2rem;
      
      & p:nth-of-type(1) {
        text-align: left;
        margin-left: .8rem;
      }

      & p:nth-of-type(2) {
        font-size: 2.25rem;
      }

      & ul {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        max-height: 12rem;
      }
    }

    & #start {
      margin-top: 2.5rem;
      text-align: center;

      & button {
        margin-top: 1.5rem;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        height: 5.5rem;
      }
    }

  }
}

body {
  visibility: hidden; 
  opacity: 0; 
  transition: opacity 0.2s ease, background-color 0.2s ease; 
}

body.theme-loaded {
  visibility: visible;
  opacity: 1;
}
